<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping d'une page Web</title>
</head>
<body>
    <h1>Entrez une URL pour récupérer tout le HTML de la page</h1>
    
    <form method="POST">
        <label for="name">Nom d'un champion :</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Scraper</button>
    </form>

    <a href="/download" download>
        <button>Télécharger le fichier JSON</button>
    </a>

    <p>{{ get_flashed_messages()[0] }}</p>

      
</body>
</html>
